#rocksamples, #papersamples , #scissorssamples {
	color: green;
	font-weight: bold;
}


#dummy{
	color:red;
	font-weight: bold;
}


body{
    font-family: 'Segoe UI';
    font-size: 12pt;
}

header h1{
    font-size:12pt;
    color: #fff;
    background-color: #1BA1E2;
    padding: 20px;

}

.video_pic{
    border-radius: 10%;
}


#myProgress {
  width: 50%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}



#prediction
{
    color:red;
  font-weight: bold;
}


